@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}
/* MENU */
.contenedor-header{
    background: #1F2833;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #66FCF1;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #1CB698;
}
.nav-responsive{
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.INICIO{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(Imagenes/FONDO4.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.INICIO .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.INICIO.contenido-banner img{
    margin-top: 40px;
    border: 10px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.INICIO .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.INICIO.contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.INICIO .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.INICIO.contenido-banner .redes a:hover{
    background-color: #1CB698;

}
/* SECCION CURRICULUM */
.CURRICULUM{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.CURRICULUM .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.CURRICULUM h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.CURRICULUM .fila{
    display: flex;
    justify-content: space-between;
}
.CURRICULUM .fila .col{
    width: 49%;
    padding: 0 20px;
}
.CURRICULUM .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.CURRICULUM .fila .izquierda{
    border-right: 2px solid #252A2E;
}
.CURRICULUM .fila .derecha{
    border-left: 2px solid #252A2E;
}
.CURRICULUM .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}
.CURRICULUM .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.CURRICULUM .fila .item .casa{
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.CURRICULUM .fila .item .fecha{
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
}
.CURRICULUM .fila .item p{
    line-height: 24px;
}
.CURRICULUM .fila .izq{
    border-right: 2px solid #1CB698;
    margin-right: 20px;
}
.CURRICULUM .fila .der{
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}
.CURRICULUM .fila .item .conectori{
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.CURRICULUM .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}
.CURRICULUM .fila .item .conectord{
    height: 2px;
    background-color: #1CB698;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.CURRICULUM .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: left;
    position: relative;
    bottom: 4px;
}
.portfolio{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portfolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio .galeria .proyecto img{
    width: 100%;
    display: block;
}
.portfolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}
.sobremi{
    background-color: #1F2833;
    color: #fff;
    padding: 50px 20px;

}
.sobremi .Contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.sobremi .Contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;

}
.sobremi .Contenido-seccion p span{
    color: #45a29e;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;

}
.sobremi .fila .col{
    width: 50%;
}

.sobremi .fila .col{
    font-size:  22px;
    font-family:'Rigteous';
    margin-bottom: 25px;
}

.sobremi .fila .col ul{
list-style: none;
}
.sobremi .fila .col ul li{
    margin: 20px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #66FCF1;
    width: 130px;

}
.sobremi .fila .col ul li span {
    background-color: #66FCF1;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;

}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #252a2e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s
    ;


}



    



